img {
    border: 1px #e2e4e5 solid;
    margin: 5px auto;
}

code,
pre,
.notranslate {
    font-size: 14px !important;
}

img,
.notranslate,
.admonition,
.sidebar,
.btn {
    border-radius: 4px;
}

/* .admonition {
    border: 1px #e2e4e5 solid;
} */

.admonition p {
    font-size: 15px !important;
}

.admonition-title {
    border-radius: 4px 4px 0 0;
}
