img {
    border: 1px #e2e4e5 solid;
    margin: 5px auto;
}

code,
pre,
.notranslate {
    font-size: 14px !important;
}

img,
.notranslate,
.admonition,
.sidebar,
.btn,
table.docutils {
    border-radius: 4px !important;
}

/* .admonition {
    border: 1px #e2e4e5 solid;
} */

.admonition p {
    font-size: 15px !important;
}

.admonition-title {
    border-radius: 4px 4px 0 0;
}

table,
table.docutils {
    /* border: 0px !important; */
    max-width: 100% !important;
    width: 100% !important;
}

table.docutils th:first-child {
    border-radius: 0px 0 0 0;
}
table.docutils th:last-child {
    border-radius: 0 4px 0 0;
}
table.docutils tr:last-child td:first-child {
    border-radius: 0 0 0 4px;
}
table.docutils tr:last-child td:last-child {
    border-radius: 0 0 4px 0;
}
